*{
    margin: 0;
    padding: 0;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal
}

html{
    scroll-behavior: smooth;
}

.navigation{
    background-color: black;
    margin-bottom: 15px;
    padding: 15px;
    height: 50px;
    position: sticky;
    top: 0;
}

.navigation ul{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 15px;
    margin-right: 20px;
}

.navigation ul li{
    margin-left: 20px;
    list-style: none;
}

.navigation ul li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

/*
Introduction Css
*/

.introduction{
    margin: 2rem;
    text-align: center;
}

.introduction h1{
    font-size: 85px;
}

.introduction p{
    font-size: 40px;
}



#aboutMe{
    background-color: black;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    
}

#aboutMe h2{
    text-align: center;
    font-size: 65px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

#aboutMe p{
    padding-left: 1rem;
    font-size: 20px;
}


/*Skill section*/
.skillLogo{
    height: 5rem;
    
}

.skillLogo:hover{
    box-shadow: 0 0 20px rgba(255, 87, 34, 0.7), /* orange glow */
            0 0 40px rgba(255, 87, 34, 0.5), 
            0 0 60px rgba(255, 87, 34, 0.3);
    
    transition: box-shadow 0.5s ease-in-out;
}

#skills{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}

#skills h2{
    text-align: center;
    font-size: 65px;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

#skills ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    padding-top: 2.5rem;
}

li{
    list-style: none;
    
}

span {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
}

